body{
    background-color: rgb(196, 192, 192);
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 7px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 32px;
    background-color: rgb(141, 92, 187);
    border-radius: 4px;
    padding: 5px;
}
button {
    color: black;
    font-size: 18px;
    background-color: rgb(246, 156, 156);
    border: rgb(246, 156, 156) groove 2px;
    border-radius: 60px;
    padding: 5px;
}
button:hover{
    background-color: rgb(219 188 247 / 92%);
    border: rgb(193, 145, 233) groove 2px;
}
.active-nav{
    background-color: rgb(202, 116, 116);
}
a:hover{
    background-color: rgb(202, 116, 116);
}
header p{
    width:100%;
    text-align:center;
}
form{
    display:flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color:rgba(211, 157, 224, 0.596);
    background-color: rgb(228 161 161 / 25%);
    border: rgb(169 102 102 / 83%) 4px solid;
    border-radius: 20px;
    padding: 10px;
}
input{
    margin-bottom:5px;
}
.hide{
    display:none
}
#alert{
    display:none;
    width:100%;
    text-align: center;
    color: rgb(180, 8, 8);
    font-size: 22px;
    font-weight: 600;
}